body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(img/bg.jpg);
}

html {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

#container .img {
    width: 125px;
    height: 125px;
    position: absolute;
    border: 5px solid #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    top: -150px;
    left: -150px;
    cursor: pointer;
    transition: all 1s ease-out;
}

#container .img span {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease-out;
}

#arrows {
    display: none;
    transition: all 1s ease-out;
}

#arrows .prev,
#arrows .next {
    width: 40px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 1px solid #cccccc;
    cursor: pointer;
}

#arrows .prev {
    left: 0;
    background: url(img/prev.png) no-repeat center;
}

#arrows .next {
    right: 0;
    background: url(img/next.png) no-repeat center;
}