/* CSS RESET*/
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
img{
    border: 0px;
}
ul{
    list-style: none;
}

/*将div居中*/
.center{
    width: 1226px;
    margin:0 auto;
}

/*最上方的导航栏开始*/
/* 设置最上方导航栏的背景颜色及高度*/
.main-nav{
    background-color:#333333;
    height: 40px;
}
.main-nav li{
    float: left;
}
/*设置a链接字体颜色*/
.main-nav a{
    font-size: 8px;
    color: #b0b0b0;
    line-height: 40px;
}
/* 设置a链接活动特效*/
.main-nav a:hover{
    color: #ffffff;
}
/* 设置最上方导航栏的分割线颜色*/
.main-nav span{
    color: #444444;
    margin: 0px 6px;
    font-size: 1px;
}
/* 最上方导航栏的右半部分*/
.right-main-nav{
    float: right;
}
.shopping{
    margin-left: 15px;
    float: right;
    position: relative;
}
.log-in{
    float: right;
}
.shopping a{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #424242;
}
.shopping span{
    color: #b0b0b0;
    margin: 0 0 0 -8px;
}
.shopping a:hover{
    color: #ff6700;
    background: #ffffff;
}
.shopping-list{
    position: absolute;
    z-index: 1;
    top: 40px;
    right: -2px;
    width: 316px;
    height: 0;
    background: #ffffff;
    border: 2px solid rgba(200,200,200,0.2);
    border-top: none;
    transition: height 0.25s ease-out;
}
.shopping:hover .shopping-list{
    padding-top: 15px;
    height: 83px;
}
/*最上方的导航栏结束*/

/* 索引开始*/
#index{
    height: 100px;
}
#index .index-left{
    float: left;
    width: 930px;
}
#index .index-right{
    position: relative;
    float: left;
    height: 50px;
    margin-top: 25px;
}
.index-right .search{
    padding: 0 10px;
    width: 243px;
    height: 48px;
    border: solid 1px #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: none;
}
.index-right .icon-search{
    font-size: 18px;
}
.index-right .submit{
    width: 54px;
    height: 46px;
    padding: 1px 6px;
    border: solid 1px #e0e0e0;
    position: absolute;
    top:0px;
    right: -53px;
    padding: 0 10px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    background: #ffffff;
    transition: background 0.5s ease;
}
.index-right .submit:hover{
    color: #ffffff;
    background: #ff6700;
}
.search-list{
    border: 1px solid #ff6700;
    width: 241px;
    position: absolute;
    z-index: 1;
    top: 47px;
    background: #ffffff;
    display: none;
}
.search-list li{
    width: 221px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.search-list a{
    display: block;
    padding: 0 10px;
    background: #ffffff;
    width: 100%;
    height: 100%;
}
.search-list a:hover{
    background: #fafafa;
}
.search-list .search-list-name{
    color: #757575;
}
.search-list .search-list-des{
    color: #aaaaaa;
    float: right;
}
.index-right .search-hot-words a{
    background: #eeeeee;
    color: #757575;
    transition: background 0.5s ease;
    padding: 0 5px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.index-right .search-hot-words a:hover{
    background: #ff6700;
    color: #ffffff;
}
.index-right div{
    position: absolute;
    right: 10px;
    top: 25%;
}
#logo{
    margin: 20px 0px 20px;
    width: 55px;
    float: left;
}
#index ul#index-ul{
    float: left;
    padding-top: 12px;
    padding-left: 30px;
}
#index-ul li{
    float: left;
}
#block{
    width: 127px;
    height: 88px;
    padding-right: 15px;
}
#index-ul .sub-menu{
    position: absolute;
    left: 0;
    z-index: 2;
    height: 0px;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(200,200,200,0.3);
    transition: height 0.25s ease-out;
}
#index-ul li:hover .sub-menu{
    height: 232px;
}
#index-ul .sub-menu-inner{
    border-top: 1px solid #e0e0e0;
    height: 100%;
    width: 100%;
}
#index-ul .sub-menu-list a.sub-img{
    display: block;
    width: 160px;
    height: 110px;
    margin: 0 auto;
}
#index-ul .sub-menu img{
    width: 160px;
    height: 110px;
}
#index-ul .sub-menu-list li{
    width: 180px;
    height: 166px;
    padding: 35px 12px 0;
    position: relative;
}
#index-ul .sub-menu-list li:before{
    content: '';
    width: 1px;
    height: 100px;
    position: absolute;
    top: 35px;
    left: 0px;
    background: #e0e0e0;
}
#index-ul .sub-menu-list li:first-child:before{
    display: none;
}
#index-ul .sub-menu .flag{
    position: absolute;
    top: -1px;
    left: 0px;
    z-index: 10;
    width: 204px;
    height: 22px;
    text-align: center;
}
#index-ul .flag div{
    border: 1px solid #ff6700;
    color: #ff6700;
    display: inline-block;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    padding: 1px 20px;
}
#index-ul .sub-des{
    margin: 20px 0 0;
}
#index-ul .sub-des a{
    color: #5f5750;
}
#index-ul a.main-menu{
    display: inline-block;
    padding: 26px 10px 38px 10px;
    color: #333333;
}
#index-ul a.main-menu:hover{
    color: #ff6700;
}
/* 索引结束*/

/*图片下方的文字索引设置开始*/
.text-index{
    margin: 0px 20px 3px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.text-index a{
    display: inline-block;
    width: 200px;
    color: #212121;
}

/*图片下方的文字索引设置结束*/

/*图片下方的文字描述和价格设置开始*/
.describe{
    margin: 0px 10px 12px;
    font-size: 12px;
    height: 18px;
    text-align: center;
    color: #b0b0b0;
}
.price{
    color: #ff6709;
    font-size: 14px;
    height: 21px;
    text-align: center;
}
.discount{
    color: #b0b0b0;
    text-decoration: line-through;
}
/*图片下方的文字描述和价格设置结束*/

/*脚部开始*/
.footer-service{
    padding: 27px 0;
    border-bottom: solid 1px #e0e0e0;
    text-align: center;
    height: 25px;
}
.footer-service li{
    float: left;
    border-left: solid 1px #e0e0e0;
    width: 242px;
    height: 25px;
    font-size: 16px;
}
.footer-service li:first-child{
    border-left: none;
}
.footer-service a{
    color: #616161;
}
.footer-service a:hover{
    color: #ff6700;
}
.footer-links{
    padding: 40px 0;
    height: 112px;
}
.link-title{
    font-size: 14px;
}
.footer-links td{
    width: 160px;
    padding-top: 6px;
    height: 18px;
}
.link-title td{
    padding: 0 0 18px;
    height: 17px;
    color: #333333;
}
.footer-links a{
    font-size: 12px;
    color: #757575;
}
.footer-links a:hover{
    color: #ff6700;
}
.links{
    float: left;
}
.footer-call{
    float: left;
    border-left: solid 1px #e0e0e0;
    height: 120px;
    width: 242px;
}
.footer-call .phone{
    color: #ff6700;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
}
.footer-call .time{
    margin-bottom: 16px;
    text-align: center;
    color: #616161;
    font-size: 12px;
}
.footer-call a{
    display: inline-block;
    color: #ff6700;
    border: solid 1px #ff6700;
    font-size: 12px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    text-align: center;
    margin-left: 25%;
}
.footer-call a:hover{
    background: #ff6700;
    color: #ffffff;
}
.footer-info{
    padding: 30px 0;
    height: 106px;
    background: #fafafa;
}
.info-img{
    margin-right: 10px;
    float: left;
}
.info-text{
    float: left;
}
.foot-nav{
    background: #fafafa;
    height: 18px;
}
.foot-nav a{
    color: #757575;
    line-height: 18px;
}
.foot-nav a:hover{
    color: #ff6700;
}
.foot-nav li{
    height: 18px;
}
.foot-nav span{
    color: #b0b0b0;
    margin: 3px 0;
}
.info-text p{
    font-size: 12px;
    line-height: 18px;
    color: #b0b0b0;
}
.saft a{
    color: #b0b0b0;
}
.saft a:hover{
    color: #ff6700;
}
.img-links{
    height: 54px;
}
.img-links li{
    float: left;
    margin-left: 7px;
}
.img-links li:first-child{
    margin-left: 20px;
}
.img-links img{
    width: 83px;
    height: 28px;
}
.declaration{
    clear: both;
    width: 267px;
    height: 19px;
    color: #b0b0b0;
    margin: 30px auto 0px;
    text-align: center;
}
/*脚部结束*/