/*广告部分开始*/
#ad{
    padding-top: 50%;
    background: url("../img/kv-image-pc.jpg") no-repeat center/contain;
}

#ad span{
    position: absolute;
    border: 1px solid;
    font-size: 11px;
    padding: 0 2px;
    right: 12px;
    line-height: 18px;
    background: #47474A;
    color: rgba(255, 255, 255, 0.7);
    top: 120px;
    font-weight: 900;
}
/*广告部分结束*/

/*登陆部分开始*/
#login{
    background: url("../img/rewards_bg.png") no-repeat center/cover #0f0f0f;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

#login .rewards-mark{
    height: 220px;
    display: table;
    padding-left: 80px;
}

#login .vertical-center{
    display: table-cell;
    vertical-align: middle;
    height: 220px;
}

#login .rewards-mark .rewards-mark-label{
    width: 260px;
    font-size: 18px;
    line-height: 28px;
}

#login .rewards-mark .rewards-mark-logo{
    width: 160px;
}

#login .rewards-content{
    display: table;
    margin-left: -25px;
}

#login .rewards-content .rewards-content-title{
    font-size: 25px;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
}

#login .rewards-content .rewards-content-desc{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 5px;
}

#login .rewards-content-button .button{
    color: #b89f7a;
    border: 2px solid #b89f7a;
    padding: 14px 40px;
    margin: 7px 14px 7px 0;
    display: inline-block;
}

#login .rewards-content-button .button:hover, #reserve .info a:hover{
    color: #FFFFFF;
    background: #b89f7a;
}

#login .rewards-content .know-more{
    display: inline-block;
    margin-left: 30px;
    color: #b89f7a;
}

#login .rewards-content .know-more:hover{
    opacity: 0.8;
}
/*登陆部分结束*/

/*app开始*/
#app{
    background: url("../img/app-web.png") no-repeat top center/contain #EFEBE8;
    padding-top: 23.26%;
    position: relative;
}

#app .qr-code{
    position: absolute;
    top: 50%;
    left: 42%;
    margin-top: -65px;
    width: 130px;
}

#app .download, #apple-watch .download{
    display: none;
    margin: 0 auto;
    padding: 14px 72px 24px 72px;
    width: 76px;
    height: 52px;
    background: url("../img/udp-starbucks-cn.svg") no-repeat center;
}

#app .app-content{
    position: absolute;
    top: 50%;
    left: 44%;
    height: 100px;
    width: 35%;
    margin-top: -50px;
    transform: translate(130px, 0);
}

#app .app-content p{
    margin-bottom: 14px;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 28px;
}

#app .app-content a{
    color: #b89f7a;
}
/*app结束*/

/*产品开始*/
#product a{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}

#product .left, #product .right{
    background: url("../img/tmall-banner.jpg") no-repeat top center/contain;
    width: 100%;
    padding-top: 100%;
}

#product .right{
    background-image: url("../img/FT-Grid.jpg");
}

#product a h3{
    line-height: 38px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
}

#product a p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 3px;
}

#product .left h3{
    color: #D81026;
}

#product .right h3{
    color: #FFFFFF;
}

#product .left p{
    color: #000000;
}

#product .right p{
    color: #b89f7a;
}
/*产品结束*/

/*用星说开始*/
#say-starbucks{
    background: #106e4b;
}

#say-starbucks .container{
    width: 747px;
    height: 162px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#say-starbucks .left, #say-starbucks .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#say-starbucks .left div, #say-starbucks .right div{
    margin: 0 22px;
}

#say-starbucks .say{
    background: url("../img/wsg-title.png") no-repeat center/contain;
    height: 127px;
    width: 177px;
}

#say-starbucks .qr-code{
    background: url("../img/wsg-qrcode.png") no-repeat center/contain;
    height: 150px;
    width: 106px;
}

#say-starbucks .cup{
    background: url("../img/wsg-cup.png") no-repeat center/contain;
    height: 160px;
    width: 99px;
}

#say-starbucks .desc{
    background: url("../img/wsg-wording.png") no-repeat center/contain;
    height: 143px;
    width: 184px;
}
/*用星说结束*/

/*apple-watch开始*/
#apple-watch{
    height: 220px;
    background: url("../img/mobile-bg.png");
    display: flex;
    justify-content: center;
}

#apple-watch .img{
    background: url("../img/mobile-iwatch-cn.png") no-repeat center/contain;
    width: 408px;
    height: 220px;
}

#apple-watch .desc{
    text-align: left;
    width: 344px;
    font-size: 18px;
    padding: 35px 68px 0 68px;
    line-height: 28px;
    color: #3d3d3d;
}

#apple-watch .desc a{
    color: #b89f7a;
}

#apple-watch .desc a:hover{
    color: #967a50;
    text-decoration: underline;
}

#apple-watch .qr-code{
    text-align: center;
    padding-top: 35px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

#apple-watch .qr-code img{
    width: 130px;
}
/*apple-watch结束*/

/*星巴克精选开始*/
#collection{
    background-color: #f5f5f5;
    padding: 80px 16px;
}

#collection .title{
    height: 28px;
    line-height: 28px;
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    color: #3d3d3d;
}

#collection .title-desc{
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 80px;
    color: #888888;
}

#collection ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#collection li{
    width: 240px;
    height: 280px;
    margin: 15px;
    box-shadow: 0 0 2px #ccc;
}

#collection li a{
    display: block;
    width: 100%;
    height: 100%;
}

#collection li img{
    width: 100%;
}

#collection li:hover{
    box-shadow: 0 2px 2px #ccc;
}

#collection li:hover .img-title, #collection li:hover .img-desc{
    color: #a98e67;
}

#collection .img-title{
    text-align: center;
    color: #2F2F2F;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 15px;
    height: 32px;
    line-height: 32px;
}

#collection .img-desc{
    text-align: center;
    color: #707175;
    height: 28px;
    line-height: 28px;
}
/*星巴克精选结束*/

/*优质产品开始*/
#reserve{
    background-color: rgb(6, 6, 8);
    padding: 40px 0;
}

#reserve .container{
    width: 940px;
    padding: 0 15px;
    margin: 0 auto;
    display: table;
}

#reserve .container img{
    float: left;
}

#reserve .container .info{
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    text-align: center;
}

#reserve .info h3{
    font-weight: 900;
    font-size: 13px;
    color: #a98e67;
    line-height: 22px;
    letter-spacing: 3px;
}

#reserve .info p{
    color: #707070;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 14px;
}

#reserve .info .buttons{
    margin-top: 32px;
}

#reserve .info a{
    padding: 14px 40px;
    margin: 7px 14px 7px 0;
    border: 2px solid #a98e67;
    color: #a98e67;
    display: inline-block;
}
/*优质产品结束*/

/*脚部开始*/
#footer{
    background: #292929;
    color: #A3A3A3;
    padding: 60px 0 20px;
}

#footer .container{
    width: 940px;
    padding: 0 15px;
    margin: 0 auto;
}

#footer .menu-icon{
    display: none;
    float: right;
    border: 5px solid transparent;
    border-top-color: #FFFFFF;
    margin-top: 5px;
}

#footer .item{
    margin-bottom: 80px;
}

#footer .item .item-li{
    float: left;
}

#footer .item h3{
    color: #FFFFFF;
    width: 235px;
    height: 30px;
    font-size: 17px;
    margin-bottom: 7px;
    font-weight: 600;
}

#footer .item .selected{
    color: #b89f7a;
}

#footer .selected span{
    border-top-color: #b89f7a;
}

#footer .item a{
    display: block;
    height: 27px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 0.8);
}

#footer .item a:hover{
    text-decoration: underline;
}

#footer .item .code{
    text-align: center;
    font-size: 12px;
}

#footer .code .qr-code{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    background: url("../img/app_qr1.png") no-repeat center/contain;
}

#footer .code .apple, #footer .code .android{
    color: #fff;
    margin: 5px 5px -6px;
    display: inline-block;
    transition: color 0.35s ease-out;
}

#footer .code .icon{
    font-size: 22px;
}

#footer .code .apple:hover, #footer .code .android:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

#footer .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .footer-bottom .footer-icp{
    width: 740px;
    font-size: 13px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.6);
}

#footer .footer-bottom .footer-icp .icpicon{
    background: url("../img/icpicon.png") no-repeat left center;
    background-size: 15px;
    padding-left: 18px;
    width: 232px;
}

#footer .footer-bottom .footer-icp a{
    display: block;
    color: rgba(255, 255, 255, 0.6);
    width: 250px;
}

#footer .footer-bottom .footer-icp a:hover{
    text-decoration: underline;
}

#footer .footer-bottom .footer-icons{
    width: 200px;
}

#footer .footer-bottom .we-chat, #footer .footer-bottom .weibo{
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 8px;
}

#footer .footer-bottom .we-chat{
    background: url("../img/wechat.svg") no-repeat center/contain;
}

#footer .footer-bottom .weibo{
    background: url("../img/weibo.svg") no-repeat center/contain;
}
/*脚部结束*/





@media (min-width: 1200px){
    /*优质产品部分*/
    #reserve .container{
        width: 1140px;
    }

    #reserve img{
        margin-right: 90px;
    }
}

@media (max-width: 1067px){
    /*apple-watch部分*/
    #apple-watch{
        height: 630px;
        display: block;
    }

    #apple-watch .img{
        width: 414px;
        height: 338px;
        margin: 0 auto;
    }

    #apple-watch .desc{
        padding: 0 31px;
        width: auto;
        margin-bottom: 14px;
        text-align: center;
    }

    #apple-watch .qr-code{
        display: none;
    }

    #apple-watch .download{
        display: block;
    }
}

@media (max-width: 992px){
    /*广告部分*/
    #ad{
        padding-top: 117.18%;
        background-image: url("../img/kv-image-mobile.jpg");
    }

    /*优质产品部分*/
    #reserve .container{
        width: 720px;
    }

    /*脚部*/
    #footer .container{
        width: 720px;
    }

    #footer .item h3{
        width: 180px;
    }

    #footer .footer-bottom .footer-icp{
        width: 520px;
    }
}

@media (max-width: 767px){
    /*登陆部分*/
    #login{
        display: block;
        text-align: center;
        padding: 0 35px;
    }

    #login .rewards-mark{
        display: block;
        padding: 55px;
        height: 70px;
    }

    #login .vertical-center{
        width: 100%;
        height: 100%;
        display: block;
    }

    #login .rewards-mark .rewards-mark-label{
        width: 100%;
    }

    #login .rewards-mark .rewards-mark-logo{
        margin: 0 auto;
    }

    #login .rewards-content{
        display: block;
        width: 100%;
        height: 100%;
    }

    #login .rewards-content .rewards-content-desc{
        margin: 15px 0 20px 0;
    }

    #login .rewards-content .rewards-content-button{
        padding: 10px 0;
        height: 219px;
    }

    #login .rewards-content .rewards-content-button .button{
        display: block;
        margin: 7px 10%;
        padding: 14px 10%;
    }

    #login .rewards-content .rewards-content-button .know-more{
        text-align: right;
        display: block;
        padding: 25px 0;
        margin-right: 7px;
    }

    /*app部分*/
    #app{
        padding-top: 98.79%;
        background-image: url("../img/app-mobile.png");
    }

    #app .qr-code{
        display: none;
    }

    #app .download{
        display: block;
    }

    #app .app-content{
        position: static;
        margin: 0;
        width: 100%;
        height: auto;
        text-align: center;
        transform: translate(0, 0);
    }

    #app .app-content p{
        padding: 4%;
        margin-bottom: 14px;
    }

    /*产品开始*/
    #product a{
        width: 100%;
    }

    /*用星说开始*/
    #say-starbucks .container{
        padding: 30px 35px;
        display: block;
        width: auto;
        height: auto;
    }

    #say-starbucks .left, #say-starbucks .right{
        width: 100%;
        padding: 5px 0;
    }

    #say-starbucks .left div, #say-starbucks .right div{
        margin: 0;
    }

    #say-starbucks .say{
        background: url("../img/wsg-cup.png") no-repeat center/contain;
        height: 162px;
        width: 150px;
        position: relative;
        left: -5px;
    }

    #say-starbucks .qr-code{
        background: url("../img/wsg-title.png") no-repeat center/contain;
        height: 76px;
        width: 150px;
    }

    #say-starbucks .cup{
        background: url("../img/wsg-qrcode.png") no-repeat center/contain;
        height: 120px;
        width: 120px;
        position: relative;
        right: -5px;
    }

    #say-starbucks .desc{
        background: url("../img/wsg-wording.png") no-repeat center/contain;
        height: 82px;
        width: 180px;
        position: relative;
        right: -10px;
    }

    /*优质产品部分*/
    #reserve .container{
        padding: 0 35px;
        width: auto;
    }

    #reserve .container img{
        float: none;
    }

    #reserve .container .buttons a{
        display: block;
        margin: 25px 0 0;
    }

    #reserve .container .info{
        display: block;
    }

    /*脚部*/
    #footer{
        padding: 30px 0;
    }

    #footer .container{
        width: auto;
    }

    #footer .item{
        margin-bottom: 0;
    }

    #footer .menu-icon{
        display: block;
    }

    #footer .item .item-li{
        float: none;
    }

    #footer .item .item-li ul, #footer .item .code{
        display: none;
        padding-left: 13px;
    }

    #footer .item h3{
        height: 45px;
        margin-bottom: 0;
        width: auto;
    }

    #footer .footer-bottom .footer-icp{
        width: calc(100% - 80px);
        float: left;
    }

    #footer .footer-bottom .footer-icons{
        width: 80px;
        float: left;
    }

    #footer .footer-bottom .footer-icons a{
        margin: 0 10px 0 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 667px){
    /*星巴克精选部分*/
    #collection li{
        width: 136px;
        height: 220px;
        margin: 10px;
    }

    #collection li .arrow{
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url("../img/arrow.png") no-repeat center;
        margin-left: -13px;
    }

    #collection li .img-desc{
        text-align: left;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        padding: 0 10px 0 15px;
        margin-top: 15px;
    }

    #collection li .img-title{
        text-align: left;
        font-size: 18px;
        line-height: 18px;
        height: 33px;
        padding: 0 10px 0 15px;
        margin-top: 30px;
    }
}

@media (max-width: 570px){
    /*优质产品部分*/
    #reserve .container img{
        width: 100%;
    }
}

@media (max-width: 431px){
    /*apple-watch部分*/
    #apple-watch .img{
        width: 100%;
    }
}

@media (max-width: 374px){
    /*用星说开始*/
    #say-starbucks .say{
        width: 120px;
        height: 130px;
    }

    #say-starbucks .qr-code{
        width: 120px;
        height: 61px;
    }

    #say-starbucks .cup{
        width: 90px;
        height: 90px;
    }

    #say-starbucks .desc{
        width: 150px;
        height: 76px;
        right: -15px;
    }
}

@media (max-width: 320px) {
    /*脚部*/
    #footer .footer-bottom{
        display: block;
    }

    #footer .footer-bottom .footer-icp a, #footer .footer-bottom .footer-icp{
        width: 100%;
    }

    #footer .footer-bottom .footer-icons{
        width: 100%;
        margin-top: 15px;
    }
}