<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="todolist" @click="hideTable">
        <h1 v-text="title" :style="{fontSize: size + 'px', textAlign: 'center'}"></h1>
        <div>
            <label>商品名称：
                <input type="text" v-model="shoppingName">
            </label>
            <span v-show="shoppingNameError" :style="errorInfoStyle">商品名称不能为空</span>
            <br>
            <label>商品价格：
                <input type="text" v-model.number="shoppingPrice">
            </label>
            <span v-show="shoppingPriceError" :style="errorInfoStyle">商品价格不能为空或非数字</span>
            <br>
            <button @click="addShopping">add</button>
            <br>
            <input type="text" v-model.trim="search" @keyup.enter="searchShopping">
            <button @click="searchShopping">search</button>
        </div>
        <ul>
            <li v-for="(item, index) in content" v-show="item.isShow" :class="{selected:item.isSelected}" @click.prevent="clickLi(index)">
                <!-- <span v-for="val in item" v-text="val"></span> -->
                <input type="checkbox" :value="index" :style="spanStyle" v-model="deleteShopping" @click.stop>
                <span :style="spanStyle" @click.stop="delectShoppings(index)">[X]</span>
                <span :style="spanStyle" @click.stop>
                    <span v-html="item.name" @dblclick.stop="edio(index,'name')" v-show="!item.isShowTable.name"></span>
                    <input type="text" class="table" v-model.number="item.name" v-show="item.isShowTable.name" @keyup.enter="edio(index,'name')">
                </span>
                <span :style="[spanStyle, priceStyle]" @click.stop>
                    <span v-html="item.price" @dblclick="edio(index,'price')" v-show="!item.isShowTable.price"></span>
                    <input type="text" class="table" v-model.number="item.price" v-show="item.isShowTable.price" @keyup.enter="edio(index,'price')">
                </span>
            </li>
        </ul>
        <button @click="deleteSelect">删除选中</button>
        <label>
            <input type="checkbox" @click="selectAll" v-model="isSelectAll" value="false">全选</label>
        <label>
            <input type="checkbox" @click="selectReverse" v-model="isSelectReverse" value="false">反选</label>
        <span v-text="'总价：' + sum" :style="spanStyle"></span>
    </div>

    <script src="../vue.js"></script>
    <script src="./index.js"></script>
</body>

</html>