body {
    background: #000;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.bg {
    background: url(../img/bg.jpg) no-repeat top center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 1;
}

.center {
    padding: 0 20px;
}

.container::before {
    content: '';
    display: block;
    height: 100vh;
}

.container-bg {
    background: url(../img/1.png) no-repeat left bottom;
}

/* 卡莎介绍开始 */

.intro {
    background: url(../img/divider-top.png) no-repeat top center;
    padding: 52px 0;
    text-align: center;
    color: #f0e6d2;
}

.intro h1 {
    margin: 0;
    line-height: 1;
    font-size: 5.88235rem;
}

.intro .top {
    background: url(../img/intro-divider-1.png) no-repeat center;
    height: 74px;
}

.intro .bottom {
    background: url(../img/intro-divider-2.png) no-repeat center;
    height: 67px;
}

.intro p {
    font-size: 1.29412rem;
    max-width: 666px;
    margin: 26px auto;
}

@media(min-width:768px) {
    .intro {
        padding: 84px 0;
    }
}

@media (min-width: 1024px) {
    .skills {
        display: flex;
    }
    .skills .left {
        flex-grow: 2;
        width: 0;
        margin-right: 40px;
    }
    .skills .skills-introduce {
        flex-grow: 1;
        width: 0;
    }
}

/* 卡莎介绍结束 */

/* 卡莎技能介绍开始 */

.container {
    margin-bottom: 220px;
}

.container .skill-title {
    color: #c8aa6e;
    font-size: 1.76471rem;
    margin: 0 0 26px;
    text-align: left;
}

/* 左侧视频部分 */

.skills {
    text-align: center;
    margin-bottom: 220px;
}

.skills .selected {
    border-color: #f3d280;
}

.skills .video,
.use-hero .video {
    margin-bottom: 26px;
    padding: 6px;
    line-height: 1.41176;
    border: 2px solid #342a20;
    background: #000;
    border-radius: 4px;
}

.skills .video-padding,
.use-hero .video-padding {
    position: relative;
}

.skills .video-padding::before,
.use-hero .video-padding::before {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.skills .video iframe,
.use-hero .video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.skills .skill-select {
    display: inline-flex;
    margin: 0 0 44px;
}

.skill-select li {
    margin: 0 10px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 2px solid #3c3c41;
    padding: 1px;
}

.skill-select li img {
    height: 100%;
    width: 100%;
}

.skill-select li p {
    color: #d0d0d0;
}

.skill-select .line {
    width: 2px;
    background: #342d12;
    border: 0px;
    padding: 0;
    cursor: default;
}

@media(max-width:500px) {
    .skill-select li {
        margin: 0 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: 2px solid #3c3c41;
        padding: 1px;
    }
}

/* 右侧技能介绍 */

.skills-introduce {
    margin-bottom: 220px;
}

.skills-introduce li {
    display: none;
}

.skills-introduce .selected {
    display: block;
}

.skills-introduce .title-img {
    border: 2px solid #f3d280;
    display: inline-block;
}

.skills-introduce .title,
.skills-introduce .skill {
    text-align: left;
}

.skills-introduce .title {
    color: #c8aa6e;
    margin: 40px 0;
}

.skills-introduce .skill {
    color: #a09b8c;
    line-height: 1.41176;
}

.skills-introduce .skill span {
    font-style: italic;
    color: #cec5a8;
    font-size: 1rem;
    font-weight: 600;
}

/* 卡莎技能介绍结束 */

/* 购买英雄部分开始 */

.buy {
    text-align: center;
    position: relative;
}

.buy h1 {
    margin-bottom: 26px;
    font-size: 2.35294rem;
    line-height: 1.2;
    color: #cdbe91;
    font-style: italic;
    padding-bottom: 50px;
    background: url(../img/pull-quote-decorator.png) no-repeat center bottom;
}

.buy .buy-hero {
    margin-top: 120px;
    width: 100%;
}

.buy .buy-btn1,
.buy .buy-btn2,
.buy .buy-btn3 {
    left: 7%;
    display: block;
    width: 22%;
    height: 8%;
    position: absolute;
    top: 72%;
}

.buy .buy-btn2 {
    left: 36.8%;
}

.buy .buy-btn3 {
    left: 65%;
}

/* 购买英雄部分结束 */

/* 使用英雄部分开始 */

.use-hero {
    padding-top: 100px;
    background: url(../img/2.png) no-repeat right bottom;
}

.right h1 {
    color: #c8aa6e;
    font-size: 1.76471rem;
    margin: 0 0 26px;
}

.right p {
    color: #a09b8c;
    font-size: 17px;
    line-height: 1.41176;
}

@media(min-width:1024px) {
    .use-hero {
        display: flex;
    }
    .use-hero .left {
        flex-grow: 3;
        width: 0;
        margin-right: 40px;
    }
    .use-hero .right {
        flex-grow: 2;
        width: 0;
    }
}

/* 使用英雄部分结束 */

/* 技能和窍门部分开始 */

.tips {
    background: url(../img/1.png) no-repeat left bottom;
    padding-top: 180px;
}

.tips .title,
.backdrop .title {
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.2;
    font-style: italic;
    color: #cdbe91;
    padding-bottom: 50px;
    margin-bottom: 100px;
    text-align: center;
    background: url(../img/pull-quote-decorator.png) no-repeat center bottom;
}

.tips .title .author,
.backdrop .title .author {
    text-indent: 200px;
    font-size: 1.41176rem;
}

.content .left {
    border: 2px solid #342a20;
    margin-bottom: 20px;
}

.content .left img {
    width: 100%;
}

.content .right p {
    background: url(../img/list-bullet.png) top left no-repeat;
    padding-left: 50px;
}

@media(min-width:1024px) {
    .content {
        display: flex;
    }
    .content .left {
        flex-grow: 3;
        width: 0;
        margin-right: 40px;
    }
    .content .right {
        flex-grow: 1.4;
        width: 0;
    }
}

/* 技能和窍门部分结束 */

/* 精美壁纸部分开始 */

.backdrop {
    padding-top: 180px;
    background: url(../img/4.png) no-repeat left bottom;
}

.backdrop-img {
    color: #c8aa6e;
    text-align: center;
}

.small-imgs {
    width: 500px;
    height: 2px;
    background: #c8aa6e;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.small-imgs::before,
.small-imgs::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 2px;
    border: 2px solid #c8aa6e;
    border-radius: 50%;
    position: absolute;
    top: -2px;
}

.small-imgs::before {
    left: -2px;
}

.small-imgs::after {
    right: -2px;
}

.small-imgs li:hover,
.small-imgs .selected {
    width: 80px;
    height: 80px;
    padding: 12px;
    transform: translateY(-50px);
}

.small-imgs li {
    display: inline-block;
    width: 50px;
    height: 50px;
    transform: translateY(-65px);
    padding: 8px;
    background: url(../img/carousel-dot-frame.png) no-repeat center/contain;
    transition: all 0.5s ease;
    cursor: pointer;
}

.small-imgs li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.imgs {
    margin-top: 60px;
    position: relative;
}

.imgs li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 100px;
    transition: all 1s ease;
}

.imgs .selected {
    opacity: 1;
}

.imgs li img {
    width: 100%;
    border-top: 2px solid #342d12;
    border-bottom: 2px solid #342d12;
}

@media(max-width:500px) {
    .small-imgs {
        width: 60%;
        height: 2px;
        background: #c8aa6e;
        margin-top: 50px;
        margin-bottom: 50px;
        display: inline-block;
        text-align: center;
    }
    .small-imgs li:hover,
    .small-imgs .selected {
        width: 80px;
        height: 80px;
        padding: 12px;
        transform: translateY(-50px);
    }
    .small-imgs li {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        transform: translateY(-65px);
        padding: 8px;
        background: url(../img/carousel-dot-frame.png) no-repeat center/contain;
        transition: all 0.5s ease;
        cursor: pointer;
    }
}

/* 精美壁纸部分结束 */

/* 菜单栏部分开始 */

.menu {
    position: fixed;
    bottom: 60px;
    left: 40px;
    color: #fabe0a;
    z-index: 10;
}

.menu li {
    border: 3px solid #fabe0a;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    background: #000;
    cursor: pointer;
    display: none;
}

.menu .selected {
    display: block;
}

.menu .icon {
    font-size: 2rem;
}

.layup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.layup ul {
    position: absolute;
    left: 40px;
    top: 80px;
}

.layup li {
    margin-bottom: 19px;
    font-size: 1.41176rem;
    color: #cdbe91;
    font-weight: 800;
    cursor: pointer;
    line-height: 1.41176;
}

.layup li:hover {
    color: #fff;
}

/* 菜单栏部分结束 */