<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-if/v-else-if/v-else的用法</title>
</head>

<body>
    <div id="app">
        <div v-if="num == 1 ? true : false">0001</div>
        <div v-else-if="num == 2">0002</div>
        <div v-else>0003</div>

        <div v-if="isLogin">welcome</div>
        <div v-else>login</div>
    </div>

    <script src="./vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                num: 1,
                isLogin: true,
            },
        });
    </script>
</body>

</html>